html, body {
  margin: 0;
  padding: 0;
  font-family: Bahnschrift, Roboto, Sans;
  min-height: 100%;
}
body {
  background-image: url(~@img/background.jpg);
  background-color: darkslategrey;
  background-blend-mode: hard-light;
  will-change: opacity;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .6;
}
#frosted-glass {
  top: 20px;
  background: inherit;
  width: 100%;
  height: 90px;
  position: relative;
  overflow: hidden;
  opacity: .95;
  margin-bottom: 4em;
}
#frosted-glass:before {
  content: '';
  background: inherit;
  position: absolute;
  width: calc(100% + 50px);
  height: calc(90px + 50px);
  right: 0;
  top: -25px;
  left: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 600px rgba(130,130,130,.2);
  filter: blur(10px);
}
.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
}
.title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #f5f5f5;
  font-size: 2.5em;
}
.btn {
  position: relative;
  border: none;
  width: 90px;
  height: 50%;
  background-color: transparent;
  margin: 0 30px 0 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}
.btn, .btn:focus, .btn:active {
  outline: none;
}
#shuffle-btn {
  background-image: url(~@img/shuffle-icon.svg);
}
#mute-btn {
  background-image: url(~@img/mute-icon.svg);
}
.door-wrapper {
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  grid-template: repeat(8, 17rem) / repeat(3, 1fr);
  grid-gap: 15px;
  -ms-grid-columns: (1fr 15px)[2] 1fr;
  -ms-grid-rows: (12em 15px)[7] 12em;
  }
.door {
  background-image: url(~@img/xmas-ball.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  align-items: flex-end;
  border-radius: 5%;
  cursor: pointer;
}
.door-1,.door-7,.door-13,.door-19,.door-4,.door-10,.door-16,.door-22 {-ms-grid-column: 1}
.door-2,.door-8,.door-14,.door-20,.door-5,.door-11,.door-17,.door-23 {-ms-grid-column: 3}
.door-3,.door-9,.door-15,.door-21,.door-6,.door-12,.door-18,.door-24 {-ms-grid-column: 5}
.door-1,.door-2,.door-3{-ms-grid-row: 1}
.door-4,.door-5,.door-6{-ms-grid-row: 3}
.door-7,.door-8,.door-9{-ms-grid-row: 5}
.door-10,.door-11,.door-12{-ms-grid-row: 7}
.door-13,.door-14,.door-15{-ms-grid-row: 9}
.door-16,.door-17,.door-18{-ms-grid-row: 11}
.door-19,.door-20,.door-21{-ms-grid-row: 13}
.door-22,.door-23,.door-24{-ms-grid-row: 15}
.door:active {
  background-color: rgba(20, 20, 20, .5);
}
.date {
  font-size: 4em;
  font-weight: bold;
  margin: 0 0 8% 8%;
  color: rgb(245,245,245);
  user-select: none;
}
.content-wrapper {
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .8);
  padding: 2% 5%;
}
#back-btn {
  background-image: url(~@img/back-icon.svg);
  height: 60px;
  width: 60px;
  margin: 0;
}
.header-wrapper h2 {
  font-size: 3em;
  font-weight: bold;
  color: rgb(245,245,245);
  margin: 0;
  user-select: none;
}
.content-wrapper p {
  color: rgb(245,245,245);
  font-size: 2em;
  line-height: 1.3em;
  font-weight: lighter;
  padding: 2% 5% 2% 5%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .8);
  user-select: none;
}

/*Desktop - only*/
@media screen and (min-width : 1224px) {
  body {
    background-attachment: fixed;
  }
  .header, .header-wrapper {
    max-width: 1200px;
  }
  .door-wrapper {
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    grid-gap: .75%;
    max-width: 1200px;
    height: 800px;
    width: 80%;
    -ms-grid-columns: (1fr 15px)[5] 1fr;
    -ms-grid-rows: (1fr 15px)[3] 1fr;
  }
  .door:hover {
    background-image: url(~@img/xmas-ball.gif);
  }
  .door:active {
    background-image: url(~@img/xmas-ball.gif);
  }
  .door-1,.door-7,.door-13,.door-19 {-ms-grid-column: 1}
  .door-2,.door-8,.door-14,.door-20 {-ms-grid-column: 3}
  .door-3,.door-9,.door-15,.door-21 {-ms-grid-column: 5}
  .door-4,.door-10,.door-16,.door-22{-ms-grid-column: 7}
  .door-5,.door-11,.door-17,.door-23 {-ms-grid-column: 9}
  .door-6,.door-12,.door-18,.door-24 {-ms-grid-column: 11}
  .door-1,.door-2,.door-3,.door-4,.door-5,.door-6{-ms-grid-row: 1}
  .door-7,.door-8,.door-9,.door-10,.door-11,.door-12{-ms-grid-row: 3}
  .door-13,.door-14,.door-15,.door-16,.door-17,.door-18{-ms-grid-row: 5}
  .door-19,.door-20,.door-21,.door-22,.door-23,.door-24{-ms-grid-row: 7}
  .content-wrapper {
    max-width: 1200px;
    height: 400px;
    width: 80%;
  }
  .content-wrapper p {

  font-size: 1.4em;
  line-height: 1.3em;
  }
}

/*Mobile - only*/
@media screen and (max-width: 1224px) {
  .title {
    font-size: 3.5em;
  }
  #frosted-glass {
    height: 160px;
    background-position: top;
  }
  #frosted-glass:before {
    height: calc(160px + 50px);
  }
}

.hidden {
  display: none;
}