html, body {
  margin: 0;
  padding: 0;
  font-family: Bahnschrift, Roboto, Sans;
  min-height: 100%;
}
body {
  background-image: url(~@img/background.jpg);
  background-color: darkslategrey;
  background-blend-mode: hard-light;
  will-change: opacity;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#particles-js {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .6;
}
#frosted-glass {
  top: 20px;
  background: inherit;
  width: 100%;
  height: 90px;
  position: relative;
  overflow: hidden;
  opacity: .95;
  margin-bottom: 4em;
}
#frosted-glass:before {
  content: '';
  background: inherit;
  position: absolute;
  width: calc(100% + 50px);
  height: calc(90px + 50px);
  right: 0;
  top: -25px;
  left: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 600px rgba(130,130,130,.2);
  filter: blur(10px);
}
.header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 50%;
  transform: translateX(-50%);
}
.title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #f5f5f5;
  font-size: 2.5em;
}
.btn {
  position: relative;
  border: none;
  width: 90px;
  height: 50%;
  background-color: transparent;
  margin: 0 30px 0 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}
.btn, .btn:focus, .btn:active {
  outline: none;
}
#shuffle-btn {
  background-image: url(~@img/shuffle-icon.svg);
}
#mute-btn {
  background-image: url(~@img/mute-icon.svg);
}
.door-wrapper {
  height: 100%;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: grid;
  display: -ms-grid;
  -ms-grid-columns: (1fr 15px)[7] 1fr;
  -ms-grid-rows: (1fr 15px)[2] (1fr)[3];
  grid-template: repeat(8, 17rem) / repeat(3, 1fr);
  grid-gap: 15px;
}
.door-1{-ms-grid-column: 1; -ms-grid-row: 1;}.door-2{-ms-grid-column: 3; -ms-grid-row: 1;}.door-3{-ms-grid-column: 5; -ms-grid-row: 1;}.door-4{-ms-grid-column: 7; -ms-grid-row: 1;}.door-5{-ms-grid-column: 9; -ms-grid-row: 1;}.door-6{-ms-grid-column: 11; -ms-grid-row: 1;}.door-7{-ms-grid-column: 13; -ms-grid-row: 1;}.door-8{-ms-grid-column: 15; -ms-grid-row: 1;}
.door-9{-ms-grid-column: 1; -ms-grid-row: 3;}.door-10{-ms-grid-column: 3; -ms-grid-row: 3;}.door-11{-ms-grid-column: 5; -ms-grid-row: 3;}.door-12{-ms-grid-column: 7; -ms-grid-row: 3;}.door-13{-ms-grid-column: 9; -ms-grid-row: 3;}.door-14{-ms-grid-column: 11; -ms-grid-row: 3;}.door-15{-ms-grid-column: 13; -ms-grid-row: 3;}.door-16{-ms-grid-column: 15; -ms-grid-row: 3;}
.door-17{-ms-grid-column: 1; -ms-grid-row: 5;}.door-18{-ms-grid-column: 3; -ms-grid-row: 5;}.door-19{-ms-grid-column: 5; -ms-grid-row: 5;}.door-20{-ms-grid-column: 7; -ms-grid-row: 5;}.door-21{-ms-grid-column: 9; -ms-grid-row: 5;}.door-22{-ms-grid-column: 11; -ms-grid-row: 5;}.door-23{-ms-grid-column: 13; -ms-grid-row: 5;}.door-24{-ms-grid-column: 15; -ms-grid-row: 5;}
.door {
  background-image: url(~@img/xmas-ball.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  align-items: flex-end;
  border-radius: 5%;
  cursor: pointer;
}
.door:active {
  background-color: rgba(20, 20, 20, .5);
}
.date {
  font-size: 4em;
  font-weight: bold;
  margin: 0 0 8% 8%;
  color: rgb(245,245,245);
  user-select: none;
}
.content-wrapper {
  height: 100%;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .8);
  padding: 2% 5%;
}
#back-btn {
  background-image: url(~@img/back-icon.svg);
  height: 60px;
  width: 60px;
  margin: 0;
}
.header-wrapper h2 {
  font-size: 3em;
  font-weight: bold;
  color: rgb(245,245,245);
  margin: 0;
  user-select: none;
}
.content-wrapper p {
  color: rgb(245,245,245);
  font-size: 2em;
  line-height: 1.3em;
  font-weight: lighter;
  padding: 2% 5% 2% 5%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, .8);
  user-select: none;
}

/*Desktop - only*/
@media screen and (min-width : 1224px) {
  body {
    background-attachment: fixed;
  }
  .header, .header-wrapper {
    max-width: 1200px;
  }
  .door-wrapper {
    max-width: 1200px;
    height: 800px;
    width: 80%;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    grid-gap: .75%;
    }
  .content-wrapper {
    max-width: 1200px;
    height: 400px;
    width: 80%;
  }
  .content-wrapper p {

  font-size: 1.4em;
  line-height: 1.3em;
  }
  .door:hover {
    background-image: url(~@img/xmas-ball.gif);
  }
  .door:active {
    background-image: url(~@img/xmas-ball.gif);
  }
}

/*Mobile - only*/
@media screen and (max-width: 1224px) {
  .title {
    font-size: 3.5em;
  }
  #frosted-glass {
    height: 160px;
    background-position: top;
  }
  #frosted-glass:before {
    height: calc(160px + 50px);
  }
}

.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}