html, body {
  margin: 0;
  padding: 0;
  font-family: Bahnschrift, Roboto, Sans;
  min-height: 100vh;
}
#particles-js {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: 0;
  opacity: .6;
}
body {
  background-color: darkslategrey;
  background-image: url(~@img/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: hard-light;
}
#frosted-glass {
  z-index: 99;
  top: 20px;
  background: inherit;
  width: 100%;
  height: 90px;
  position: relative;
  overflow: hidden;
  opacity: .95;
  margin-bottom: 4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#frosted-glass:before {
  content: '';
  background: inherit; 
  position: absolute;
  width: calc(100% + 50px);
  height: calc(90px + 50px);
  right: 0;
  top: -25px;
  left: -25px;
  bottom: 0;
  box-shadow: inset 0 0 0 600px rgba(130,130,130,.2);
  filter: blur(10px);
}
.spacer {
  height: 150px;
}
.door-wrapper {
  height: 100%;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template: repeat(8, 17rem) / repeat(3, 1fr);
  grid-gap: 15px;
}
.gift-wrapper {
  height: 100%;
  width: 90%;
  margin-left: 50%;
  transform: translateX(-50%);
}
@media screen and (min-width : 1224px) {
  .door-wrapper {
    max-width: 1200px;
    height: 800px;
    width: 80%;
    grid-template: repeat(4, 1fr) / repeat(6, 1fr);
    grid-gap: .75%;
    }
  .gift-wrapper {
    max-width: 1200px;
    height: 400px;
    width: 80%;
  }
}

.title {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  color: #f5f5f5;
}

@media not screen and (min-width: 1224px) {
  .title {
    font-size: 3.5em;
  }
  #frosted-glass {
    height: 160px;
  }
  #frosted-glass:before {
    height: calc(160px + 50px);
  }
  .spacer {
    height: 210px;
  }
}
.btn {
  position: relative;
  border: none;
  width: 90px;
  height: 50%;
  background-color: transparent;
  margin: 0 30px 0 30px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}
#shuffle-btn {
  background-image: url(~@img/shuffle-icon.svg);
}
#mute-btn {
  background-image: url(~@img/mute-icon.svg);
}
#back-btn {
  background-image: url(~@img/back-icon.svg);
  height: 100px;
  width: 1o0px;
}
.door {
  background-image: url(~@img/xmas-ball.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, .9);
  display: flex;
  align-items: flex-end;
  border-radius: 5%;
  cursor: pointer;
}
.door:hover {
  background-image: url(~@img/xmas-ball.gif);
}
.door:active {
  background-image: url(~@img/xmas-ball.gif);
  background-color: rgba(0, 0, 0, .75);
}
.date {
  font-size: 4em;
  font-weight: bold;
  margin: 0 0 8% 8%;
  color: rgb(245,245,245);
  user-select: none;
}
.placeholder {
  font-size: 4em;
  font-weight: bold;
  color: rgb(245,245,245);
  user-select: none;
  padding: 5%;
  border-radius: 3%;
  background-color: rgba(0, 0, 0, .9);
  height: 100%;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}